<div class="row">
  <div class="col-md-3">
    <h3>Day 1</h3>
    <p> <a href="http://swcarpentry.github.io/shell-novice/">Lesson Plan</a> </p>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:25</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:40</td>  <td>Unix Shell (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>END OF DAY 1</td> </tr>
    </table>
  </div>

  <div class="col-md-3">
    <h3>Day 2</h3>
    <p> <a href="http://swcarpentry.github.io/git-novice/">Lesson Plan</a> </p>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>10:25</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:40</td>  <td>Git (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>END OF DAY 2</td> </tr>
    </table>
  </div>

  <div class="col-md-3">
    <h3>Day 3</h3>
    <p> <a href="http://swcarpentry.github.io/python-novice-inflammation/">Lesson Plan</a> </p>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Building programs with Python</td> </tr>
      <tr> <td>10:25</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:40</td>  <td>Python (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>END OF DAY 3</td> </tr>
    </table>
  </div>

  <div class="col-md-3">
    <h3>Day 4</h3>
    <p> <a href="http://swcarpentry.github.io/python-novice-inflammation/">Lesson Plan</a> </p>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Advanced Python</td> </tr>
      <tr> <td>10:25</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:40</td>  <td>Python (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>END OF WORKSHOP</td> </tr>
    </table>
  </div>

</div>
